@charset "UTF-8";




:root{
    --sombragenerica:box-shadow: 10px, 10px, 10px, #00000052;
    --corsombra:#00000052;
    --cor0: #232226;
    --cor1:#373737;
    --cor2: #441c1c;
    --cor3: #632727;
    --cor4:#3e5954;
    --cor5:#5e9188;
}


body {
   background-image: linear-gradient(to bottom,#373737,#252525);
   font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin: 0px;
}

h1{
    background-color:#632727;
    background-image:linear-gradient(to bottom, #632727,  #441c1c);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #00000052;
    
}
h2{
    background-color:#3e5954;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 7px 7px 10px #00000056;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    max-width: 975px;
}
p{
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    min-width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 3px 10px;
    border-radius: 5px;
    line-height: 150%;
}


.cabeça{
    font-size:18px;
    background: none;
    text-align: center;
    margin: auto;
}


h3{
    background-color: #5e9188;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    max-width: max-content;
    margin-left: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.255);
    margin-left: 25%;
    display: inline;
    
}
img {
    max-width: 30%;
   display: block;
   margin: auto;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.36);
   margin-bottom: 2%;
}



main>h1>p>a{
    color: white;
    text-decoration: none;
}
main>h1>p>a:hover{
    color: #abfff0;
}
iframe{ 
    display: block;
    margin: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.347);
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 50%;
}
.subimg{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

footer{
    background-color:#3e5954 ;
    border-radius: 10px;
}
footer>h3{
    background-color: white;
    color: #000000;
   
}
ul{
display: inline-block;
margin-left: 30%;
margin-top: 20px;
}
li{
    color: white;
    text-align: justify;
line-height: 2.0;
list-style-type: circle;
}

li:hover{
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.334);
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:#abfff0;


    
}
footer>h1{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.378);
}


::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #232226; /* Cor do fundo da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #632727; /* Cor da parte móvel da barra de rolagem */
  }

  main{
    max-width: 750px;
    min-width: 320px;
    margin: auto;
  }
